@charset "UTF-8";

body,
html {
	margin: 0;
	padding: 0;
}

#b_102366 {
	background-color: #ffffff;
	border: 0;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: 600px;
	overflow: hidden;
	position: relative;
	width: 160px;
	z-index: 1;
}

#b_102366 div {
	position: absolute;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

#b_102366 img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	padding: 0;
	margin: 0;
}

#el_209312 {
	top: 0px;
	left: 0px;
	z-index: 1;
	mix-blend-mode: normal;
}

#img_209312 {
	width: 160px;
	height: 600px;
}

#img_209312.bnfy-enter {
	-webkit-animation: fade-in 1000ms 0ms ease 1 both;
	animation: fade-in 1000ms 0ms ease 1 both;
}

#el_209314 {
	top: 281px;
	left: -24px;
	z-index: 2;
	mix-blend-mode: normal;
}

#img_209314 {
	width: 238px;
	height: 319px;
}

#img_209314.bnfy-enter {
	-webkit-animation: custom-slide 15000ms 0ms ease 1 both;
	animation: custom-slide 15000ms 0ms ease 1 both;
}

#el_209315 {
	top: 214px;
	left: 0px;
	z-index: 3;
	mix-blend-mode: normal;
}

#img_209315 {
	width: 160px;
	height: 101px;
}

#img_209315.bnfy-enter {
	-webkit-animation: none 1000ms 0ms ease 1 both;
	animation: none 1000ms 0ms ease 1 both;
}

#el_209316 {
	top: 346px;
	left: 2.5px;
	z-index: 4;
	mix-blend-mode: overlay;
}

#img_209316 {
	width: 230px;
	height: 230px;
}

#img_209316.bnfy-enter {
	-webkit-animation: custom-rotate 15000ms 0ms ease 1 both;
	animation: custom-rotate 15000ms 0ms ease 1 both;
}

#el_209318 {
	top: 72.60000610351562px;
	left: 10.6400146484375px;
	z-index: 5;
	mix-blend-mode: normal;
}

#img_209318 {
	width: 131px;
	height: 62px;
}

#img_209318.bnfy-enter {
	-webkit-animation: fade-in 1000ms 500ms ease 1 both;
	animation: fade-in 1000ms 500ms ease 1 both;
}

#el_209319 {
	top: 155.8000030517578px;
	left: 10.35198974609375px;
	z-index: 6;
	mix-blend-mode: normal;
}

#img_209319 {
	width: 98px;
	height: 38px;
}

#img_209319.bnfy-enter {
	-webkit-animation: fade-in 1000ms 700ms ease 1 both;
	animation: fade-in 1000ms 700ms ease 1 both;
}

#el_209320 {
	top: 204px;
	left: 10px;
	z-index: 7;
	mix-blend-mode: normal;
}

#img_209320 {
	width: 140px;
	height: 28px;
}

#img_209320.bnfy-enter {
	-webkit-animation: fade-in 1000ms 1000ms ease 1 both, simple-hide 0ms 9000ms both;
	animation: fade-in 1000ms 1000ms ease 1 both, simple-hide 0ms 9000ms both;
}

#img_209320.bnfy-exit {
	-webkit-animation: pulsate-fwd 1000ms 9000ms ease 1 both, simple-show 0ms 9000ms both;
	animation: pulsate-fwd 1000ms 9000ms ease 1 both, simple-show 0ms 9000ms both;
}

#el_209322 {
	top: 242px;
	left: 10px;
	z-index: 8;
	mix-blend-mode: normal;
}

#img_209322 {
	width: 108px;
	height: 22px;
}

#img_209322.bnfy-enter {
	-webkit-animation: fade-in 1000ms 0ms ease 1 both;
	animation: fade-in 1000ms 0ms ease 1 both;
}

#el_209323 {
	top: 0px;
	left: 0px;
	z-index: 9;
	mix-blend-mode: normal;
}

#img_209323 {
	width: 160px;
	height: 44px;
}

#img_209323.bnfy-enter {
	-webkit-animation: fade-in-left 500ms 0ms ease 1 both;
	animation: fade-in-left 500ms 0ms ease 1 both;
}

#el_209324 {
	top: 15px;
	left: 27.5px;
	z-index: 10;
	mix-blend-mode: normal;
}

#img_209324 {
	width: 106px;
	height: 14px;
}

#img_209324.bnfy-enter {
	-webkit-animation: fade-in-left 500ms 100ms ease 1 both;
	animation: fade-in-left 500ms 100ms ease 1 both;
}

#el_I13467302177 {
	top: 0px;
	left: 0px;
	z-index: 11;
	mix-blend-mode: normal;
}

#img_I13467302177 {
	width: 160px;
	height: 600px;
}

#img_I13467302177.bnfy-enter {
	-webkit-animation: fade-in 1000ms 5000ms ease 1 both, simple-hide 0ms 8000ms both;
	animation: fade-in 1000ms 5000ms ease 1 both, simple-hide 0ms 8000ms both;
}

#img_I13467302177.bnfy-exit {
	-webkit-animation: fade-out 1000ms 8000ms ease 1 both, simple-show 0ms 8000ms both;
	animation: fade-out 1000ms 8000ms ease 1 both, simple-show 0ms 8000ms both;
}

#el_I13467302178 {
	top: 262px;
	left: 16px;
	z-index: 12;
	mix-blend-mode: normal;
}

#img_I13467302178 {
	width: 128px;
	height: 18px;
}

#img_I13467302178.bnfy-enter {
	-webkit-animation: fade-in-left 1000ms 5500ms ease 1 both, simple-hide 0ms 7500ms both;
	animation: fade-in-left 1000ms 5500ms ease 1 both, simple-hide 0ms 7500ms both;
}

#img_I13467302178.bnfy-exit {
	-webkit-animation: fade-out-right 1000ms 7500ms ease 1 both, simple-show 0ms 7500ms both;
	animation: fade-out-right 1000ms 7500ms ease 1 both, simple-show 0ms 7500ms both;
}

#el_I13467302179 {
	top: 305px;
	left: 19.5px;
	z-index: 13;
	mix-blend-mode: normal;
}

#img_I13467302179 {
	width: 122px;
	height: 34px;
}

#img_I13467302179.bnfy-enter {
	-webkit-animation: fade-in-left 1000ms 5500ms ease 1 both, simple-hide 0ms 7500ms both;
	animation: fade-in-left 1000ms 5500ms ease 1 both, simple-hide 0ms 7500ms both;
}

#img_I13467302179.bnfy-exit {
	-webkit-animation: fade-out-right 1000ms 7500ms ease 1 both, simple-show 0ms 7500ms both;
	animation: fade-out-right 1000ms 7500ms ease 1 both, simple-show 0ms 7500ms both;
}

@media (print), (prefers-reduced-motion: reduce) {
	.banner__element {
		-webkit-animation-duration: 1ms !important;
		animation-duration: 1ms !important;
		-webkit-transition-duration: 1ms !important;
		transition-duration: 1ms !important;
		-webkit-animation-iteration-count: 1 !important;
		animation-iteration-count: 1 !important;
	}
}
@-webkit-keyframes simple-show {
	0% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}
@keyframes simple-show {
	0% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}
@-webkit-keyframes simple-hide {
	0% {
		visibility: visible;
	}
	100% {
		visibility: hidden;
	}
}
@keyframes simple-hide {
	0% {
		visibility: visible;
	}
	100% {
		visibility: hidden;
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@keyframes fade-in {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@-webkit-keyframes custom-slide {
	0% {
		-webkit-transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
		-webkit-transform-origin: center center;
		-webkit-animation-timing-function: linear;
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(0px) translateY(0px) scale(1.2) rotate(0deg);
		-webkit-transform-origin: center center;
		-webkit-animation-timing-function: linear;
		opacity: 1;
	}
}

@keyframes custom-slide {
	0% {
		transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
		transform-origin: center center;
		animation-timing-function: linear;
		opacity: 1;
	}
	100% {
		transform: translateX(0px) translateY(0px) scale(1.2) rotate(0deg);
		transform-origin: center center;
		animation-timing-function: linear;
		opacity: 1;
	}
}

@-webkit-keyframes custom-rotate {
	0% {
		-webkit-transform: translateX(0px) translateY(0px) scale(1) rotate(20deg);
		-webkit-transform-origin: center center;
		-webkit-animation-timing-function: linear;
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
		-webkit-transform-origin: center center;
		-webkit-animation-timing-function: linear;
		opacity: 1;
	}
}

@keyframes custom-rotate {
	0% {
		transform: translateX(0px) translateY(0px) scale(1) rotate(20deg);
		transform-origin: center center;
		animation-timing-function: linear;
		opacity: 1;
	}
	100% {
		transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
		transform-origin: center center;
		animation-timing-function: linear;
		opacity: 1;
	}
}

@-webkit-keyframes pulsate-fwd {
	0%,
	to {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
	50% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1)
	}
}

@keyframes pulsate-fwd {
	0%,
	to {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
	50% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1)
	}
}

@-webkit-keyframes fade-in-left {
	0% {
		-webkit-transform: translateX(-50px);
		transform: translateX(-50px);
		opacity: 0
	}
	to {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1
	}
}

@keyframes fade-in-left {
	0% {
		-webkit-transform: translateX(-50px);
		transform: translateX(-50px);
		opacity: 0
	}
	to {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1
	}
}

@-webkit-keyframes fade-out {
	0% {
		opacity: 1
	}
	to {
		opacity: 0
	}
}

@keyframes fade-out {
	0% {
		opacity: 1
	}
	to {
		opacity: 0
	}
}

@-webkit-keyframes fade-out-right {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1
	}
	to {
		-webkit-transform: translateX(50px);
		transform: translateX(50px);
		opacity: 0
	}
}

@keyframes fade-out-right {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1
	}
	to {
		-webkit-transform: translateX(50px);
		transform: translateX(50px);
		opacity: 0
	}
}
